<div class="flex gap-2">
  <a routerLink="/home" routerLinkActive="activebutton" class="rounded text-xl">🏰</a>
  <a routerLink="/groups" routerLinkActive="activebutton" class="rounded text-xl">Group</a>
  <a routerLink="/messages" routerLinkActive="activebutton" class="rounded text-xl">msg</a>
  <a routerLink="/notifications" routerLinkActive="activebutton" class="rounded text-xl">notif</a>
  <a routerLink="/profile" routerLinkActive="activebutton" class="rounded text-xl">prof</a>
  <a routerLink="/login" routerLinkActive="activebutton" class="rounded text-xl">login</a>
  <a routerLink="/logout" routerLinkActive="activebutton" class="rounded text-xl">logout</a>
</div>
